/* media queries for title */

@media screen and (max-width: 1200px) {

    .title{
        margin-top: -25% ;
    }
    
}

@media screen and (max-width:1024px) {

    .title{
        margin-top: -30%;
        font-size: 35px;
    }
    
    #right-form-side{
        padding-right: 30%;
    }

    
}

@media screen and (max-width:832px) {

    .title{
        margin-top: -45%;
        font-size: 30px;
    }
}

@media screen and (max-width: 591px) {

        .title{
            margin-top: -60%;
            font-size: 25px;
        }
        
}

@media screen and (max-width: 375px) {

    .title{
        margin-top: -90%;
        font-size: 25px;
    }
    
}
    

/* media queries for header nav bar */

@media screen and (max-width:375px) {
    #header-nav ul{
        float: none;
    }

    #header-nav li{
        margin: 4px;
    }
    
}

/* media queries for introduction , alan turing and the colossus machine */

@media screen and (max-width:1100px) {
    /* introduction */
    .introduction-content-wrapper{
        height: 800px;
    }

    .introduction-content-wrapper img{
        height: 50%;
        width: 80%;
        margin-left: 10%;
    }

    .introduction-content-wrapper p{
        float: none;
        margin-left: 30%;
    }

    .introduction-content-wrapper h2{
        margin-top: 40px;
        margin-right: 30%;
    }

    /* alan turing */

    .turing-content-wrapper{
        height: 800px;
    }

    .turing-content-wrapper img{
        height: 40%;
        width: 30%;
        margin-right: 35%;
        margin-left: 40%;
    }

    .turing-content-wrapper p{
        float:none;
        padding-top: 2%;
        margin-left: 30%;
        height: 50%;
        font-size: 15px;
    }

    .turing-content-wrapper h2{
        float: none;
        padding-top: 38%;
        margin-left: 29%;
    }
    
    /* colossus queries */

    .colossus-content-wrapper{
        height: 800px;
    }

    .colossus-content-wrapper iframe{
        margin-top: 20px;
        height: 50%;
        margin-left: 27%;
    }

    .colossus-content-wrapper p{
        margin-left: 30% ;
        float: none;
    }

    .colossus-content-wrapper h2{
        margin-top: 40px;
        margin-right: 30%;
    }

    /* contact us form */
    #left-form-side{
        padding-left: 25%;
    }

    #right-form-side{
        padding-right: 30%;
    }


}

@media screen and (max-width:768px) {

    /* introduction */
    .introduction-content-wrapper p{
        font-size: 13px;
    }

    /*turing*/
    .turing-content-wrapper img{
        width: 250px;
        margin-right:35%;
    }

    .turing-content-wrapper p{
        font-size: 13px;
    }

    .turing-content-wrapper h2{
        padding-top:50%;
    }
    
    /* colossus*/
    .colossus-content-wrapper iframe{
        margin-left: 17%;
    }

    /* contact us form */

    #left-form-side{
        padding-left: 10%;
    }

    /* footer */

    #footer-nav li{
        padding-left: 9%;
    }
    
    /* map */
    #map-title{
        font-size: 45px;
        height: 70px;
    }
}

@media screen and (max-width:510px) {
    /* introduction */
    .introduction-content-wrapper p{
        font-size: 13px;
        width: 50%;
    }
    /*turing*/
    .turing-content-wrapper img{
        margin-left: 50%;
        margin-right: 25%;
    }

    .turing-content-wrapper h2{
        margin-top: 10px;
        padding-top:55%;
    }

    .turing-content-wrapper p{
        font-size: 12px;
    }
    /* colossus*/
    .colossus-content-wrapper iframe{
        margin:0;
        width: 100%;
    }

    .colossus-content-wrapper p{
        font-size: 13px;
    }

    /* contact us form */

    #left-form-side{
        padding-left: 30%;
        height: 50%;
    }

    #right-form-side{
        padding-top: 0;
        padding-right: 50%;
    }

    /*footer*/

    footer{
        height: 20px;
    }

    #footer-nav{
        height: 20px;
    }

    #footer-nav li{
        padding-left: 10%;
        padding-right: 7%;
        padding-bottom: 5%;

    }

    /* map */
    #map-title{
        font-size: 30px;
        height: 60px;
    }
}

@media  screen and (max-width:375px) {
    /* introduction */
    .introduction-content-wrapper p{
        font-size: 10px;
        margin-left: 25%;
    }

    .introduction-content-wrapper h2{
        margin-top: 10px;
        margin-right: 25%;
        width: 200px;
        text-align: center;
    }

    .introduction-content-wrapper img{
        width: 100%;
        margin-left: 2px;
    }
    /*turing*/
    .turing-content-wrapper iframe{
        margin-right: 17%;
    }

    .turing-content-wrapper p{
        font-size: 10px;
    }
    /* colossus*/
    .colossus-content-wrapper p{
        font-size: 10px;
    }

    /* contact us form */
    #left-form-side{
        padding-left:30%;
        width: 150px;
    }

    .text-input-comment{
        width: 200px;
    }

    #right-form-side{
        padding-top: 10px;
        padding-right: 23%;
    }

    /*footer*/

    #footer-nav li{
        padding-left: 20%;
        padding-right: 15%;
        display: inline-block;
    }
    /* map */
    #map-title{
        height: 70px;
    }

    #map{
        margin-left: 10%;
    }

}